<p-drawer [(visible)]="visible">
    <ng-template #header>
        <div class="font-bold gradient-text">WolfChain</div>
    </ng-template>
    <ng-template #content>
        <div class="overflow-y-auto">
            <ul class="list-none p-4 m-0">
                <li>
                    <div
                            class="p-4 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
                            enterActiveClass="animate-slidedown"
                            enterFromClass="hidden"
                            leaveActiveClass="animate-slideup"
                            leaveToClass="hidden"
                            pRipple
                            pStyleClass="@next"
                    >
                        <span class="font-medium">FAVORITES</span>
                        <i class="pi pi-chevron-down"></i>
                    </div>
                    <ul class="list-none p-0 m-0 overflow-hidden">
                        <li>
                            <a class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                               pRipple>
                                <i class="pi pi-home mr-2"></i>
                                <span class="font-medium">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                               pRipple>
                                <i class="pi pi-bookmark mr-2"></i>
                                <span class="font-medium">Bookmarks</span>
                            </a>
                        </li>
                        <li>
                            <a
                                    class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                                    enterActiveClass="animate-slidedown"
                                    enterFromClass="hidden"
                                    leaveActiveClass="animate-slideup"
                                    leaveToClass="hidden"
                                    pRipple
                                    pStyleClass="@next"
                            >
                                <i class="pi pi-chart-line mr-2"></i>
                                <span class="font-medium">Reports</span>
                                <i class="pi pi-chevron-down ml-auto"></i>
                            </a>
                            <ul class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                <li>
                                    <a
                                            class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                                            enterActiveClass="animate-slidedown"
                                            enterFromClass="hidden"
                                            leaveActiveClass="animate-slideup"
                                            leaveToClass="hidden"
                                            pRipple
                                            pStyleClass="@next"
                                    >
                                        <i class="pi pi-chart-line mr-2"></i>
                                        <span class="font-medium">Revenue</span>
                                        <i class="pi pi-chevron-down ml-auto"></i>
                                    </a>
                                    <ul class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                        <li>
                                            <a class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                                               pRipple>
                                                <i class="pi pi-table mr-2"></i>
                                                <span class="font-medium">View</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                                               pRipple>
                                                <i class="pi pi-search mr-2"></i>
                                                <span class="font-medium">Search</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                                       pRipple>
                                        <i class="pi pi-chart-line mr-2"></i>
                                        <span class="font-medium">Expenses</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                               pRipple>
                                <i class="pi pi-users mr-2"></i>
                                <span class="font-medium">Team</span>
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                               pRipple>
                                <i class="pi pi-comments mr-2"></i>
                                <span class="font-medium">Messages</span>
                                <span class="inline-flex items-center justify-center ml-auto bg-primary text-primary-contrast rounded-full"
                                      style="min-width: 1.5rem; height: 1.5rem">3</span>
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                               pRipple>
                                <i class="pi pi-calendar mr-2"></i>
                                <span class="font-medium">Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                               pRipple>
                                <i class="pi pi-cog mr-2"></i>
                                <span class="font-medium">Settings</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="list-none p-4 m-0">
                <li>
                    <div
                            class="p-4 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
                            enterActiveClass="animate-slidedown"
                            enterFromClass="hidden"
                            leaveActiveClass="animate-slideup"
                            leaveToClass="hidden"
                            pRipple
                            pStyleClass="@next"
                    >
                        <span class="font-medium">APPLICATION</span>
                        <i class="pi pi-chevron-down"></i>
                    </div>
                    <ul class="list-none p-0 m-0 overflow-hidden">
                        <li>
                            <a class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                               pRipple>
                                <i class="pi pi-folder mr-2"></i>
                                <span class="font-medium">Projects</span>
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                               pRipple>
                                <i class="pi pi-chart-bar mr-2"></i>
                                <span class="font-medium">Performance</span>
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                               pRipple>
                                <i class="pi pi-cog mr-2"></i>
                                <span class="font-medium">Settings</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </ng-template>
    <ng-template #footer>
        <div class="flex justify-between items-center">
            <div class="flex items-center">
                <span class="text-sm text-surface-600 dark:text-surface-200">Version 1.0.0</span>
            </div>
        </div>
    </ng-template>
    <!--    <ul class="flex flex-col gap-4">-->
    <!--        <li><a routerLink="/dashboard" routerLinkActive="text-[var(&#45;&#45;primary)]">Dashboard</a></li>-->
    <!--        <li><a routerLink="/settings" routerLinkActive="text-[var(&#45;&#45;primary)]">Settings</a></li>-->
    <!--    </ul>-->
</p-drawer>
