<div class="float-left pt-8 pl-8">
  <button pButtonIcon type="button" (click)="goBack()">
    <i class="iconsax white" icon-name="chevron-left-square"></i>
  </button>
</div>
<div class="min-h-screen flex flex-col items-center justify-center gap-6 p-8">

  <h1 class="text-4xl font-bold" style="color: var(--primary)">Wolf Theme UI</h1>

  <app-color-palette/>


  <h2 class="text-2xl font-bold" style="color: var(--neutral-active)">Button Showcase</h2>

  <div class="flex flex-wrap justify-center gap-4">
    <button pButton type="button" label="Primary" class="p-button"></button>
    <button pButton type="button" label="Success" class="p-button-success"></button>
    <button pButton type="button" label="Warning" class="p-button-warn"></button>
    <button pButton type="button" label="Danger" class="p-button-danger"></button>
    <button pButton type="button" label="Info" class="p-button-info"></button>
    <button pButton type="button" label="Help" class="p-button-help"></button>
    <button pButton type="button" label="Neutral" class="p-button-secondary"></button>
  </div>


  <h2 class="text-2xl font-bold" style="color: var(--neutral-active)">Icons Showcase</h2>

  <div class="flex flex-wrap justify-center gap-4">
    <i class="iconsax white" icon-name="heart"></i>
    <i class="iconsax white" icon-name="add-square"></i>
    <i class="iconsax white" icon-name="star"></i>
    <i class="iconsax white" icon-name="notepad"></i>
    <i class="iconsax white" icon-name="warning-triangle"></i>
    <i class="iconsax white" icon-name="info-badge"></i>
    <i class="iconsax white" icon-name="not-allowed-1"></i>
    <i class="iconsax white" icon-name="bell-1"></i>
    <i class="iconsax white" icon-name="person-card"></i>
    <i class="iconsax white" icon-name="toggle-on-round"></i>
    <i class="iconsax white" icon-name="link-3"></i>
    <i class="iconsax white" icon-name="edit-1"></i>
    <i class="iconsax white" icon-name="scan-1"></i>
    <i class="iconsax white" icon-name="key"></i>
    <i class="iconsax white" icon-name="lock-2"></i>
    <i class="iconsax white" icon-name="unlock"></i>
    <i class="iconsax white" icon-name="shield-card"></i>
    <i class="iconsax white" icon-name="diamonds"></i>
    <i class="iconsax white" icon-name="crown-1"></i>
    <i class="iconsax white" icon-name="ranking-1"></i>
    <i class="iconsax white" icon-name="chevron-up-square"></i>
    <i class="iconsax white" icon-name="chevron-down-square"></i>
    <i class="iconsax white" icon-name="chevron-left-square"></i>
    <i class="iconsax white" icon-name="chevron-right-square"></i>

    <app-icon-bitcoin  />
    <app-icon-etherium  />
  </div>

</div>
